*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Century Gothic;
  background-color: rgb(40, 40, 40);
}
.home-main{
  padding:30px;
  display: flex;
  flex-wrap: wrap;
}
.story-card{
  width: 20%;
  color: white;
  box-shadow: 10px 10px 15px black;
  cursor: pointer;
  border-radius: 15px;
  margin: 20px;
  transition: all 0.5s ease-in-out;
  height: fit-content;
}
.story-card:hover{
  transform: scale(1.1,1.1);
}
.story-card img{
  width: 100%;
  border-radius: 15px;
}
.story-card h2{
  padding: 12px;
  background-color: rgb(174, 0, 104);
}
.navbar{
  background-color: rgb(25, 25, 25);
  padding: 12px;
  color:orangered;
  z-index: 1000;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.about-main{
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
}
.about-main img{
  width: 100%;
  border-radius: 15px;
  box-shadow: 10px 10px 15px black;
}
.about-main h1{
  margin: 12px;
}
/* .description{
  width: 40%;
} */
.about-main p{
  color:orangered;
  cursor:pointer;
  font-size: 20px;
}
.iframe-main{
  display:flex;
  justify-content: center;
}
.iframe{
  width: 50%;
}
.featured-main{
  display: flex;
  width: 100%;
  background-color: orange;
  align-items: center;
}
.featured-main p{
  font-size: 20px;
}
.featured-main img{
  width: 25%;
}
.featured-label{
  position: absolute;
  color: white;
  font-weight: 800;
  font-size:25px;
  background-image: linear-gradient(to right, blue, purple);
  padding: 10px;
  border-bottom-right-radius: 25px;
}
.featured-details{
  margin:20px;
}

@media only screen and (max-width: 848px) {
  .iframe{
    width: 100%;
  }
  .home-main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .story-card{
    width: 100%;
  }
  .story-card img{
    width: 100%;
  }
  .about-main{
    flex-direction: column;
  }
  .featured-main{
    flex-direction: column;
  }
  .featured-main img{
    width: 100%;
  }
}